<div class="container">
  <div class="row">
  
      <% if @user_or_post =="1" %>
        <h3 class="sarch-user">ユーザ</h3>
        <table style="margin-bottom: 40px;", class="sarch-user">
          <thead>
            <tr>
              <th></th>
              <th>ニックネーム</th>
              <th>好きな和菓子</th>
              <th></th>
            </tr>
          </thead>
          <% @users.each do |user| %>
            <tbody>
              <tr>
                <th class="icon"><%= attachment_image_tag @user, :profile_image_id, size:"40x40", fallback: "no-image-human.jpg", class:"icon-img" %></th>
                <th><%= user.name %></th>
                <th><%= user.favorite_sweets %></th>
                <td><%=link_to "詳細を見る", user_path(user.id) %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
  </div>
  
  <div class="row">
    <% elsif @user_or_post =="2" %>
      <h3>投稿</h3><br>
        <% @posts.each do |post| %>            
          <div class="card col-lg-3 text-center", style="margin-right:30px;">
            <% if post.score.to_f >= 0 %>
              <i class="ribbon1 fa fa-smile-o", style="margin: auto -5px auto auto;"></i>
            <% end %>

            <p class="index-post-box-top">
              <%= post.created_at.strftime("%Y/%m/%d") %>
            </p>
            <%= link_to user_path(post.user_id), data: {"turbolinks" => false} do %>
              <div class="text-center", style="padding-top:15px;">
                <%= attachment_image_tag post.user, :profile_image, fallback: "no-image-human.jpg", class:"icon-img", size:"20x20" %>
                <%= post.user.name %>
              </div>
            <% end %>
            <%= link_to post_image_path(post) do %>
              <div class="text-center card-img">
                <%= attachment_image_tag post, :image, size:"160x160",class: "coffee_image_media" %><br>
              </div>
            <% end %>      
            <div class="text-center", style="padding-top:15px;">
              <%= post.introduction.truncate(10) %>
            </div>
            <div style="padding:10px;">
              <div class="col-lg-5">
                <div id="index_favorite_<%= post.id %>">
                  <%= render 'favorites/favorite', post_image: post %>
                </div>
              </div>
              <div class="col-lg-5">
                <span class="fa fa-comment", style="color: #696969;">
                  <%= post.post_comments.count %>
                </span>    
              </div>   
            </div>            
          </div>
        <% end %>
      <% else %>
      <% end %> 
  </div>
</div>