<div class="continer">
  <div class="row">
  
    <h3 class="col-xs-offset-2"><%= @user.name %>さんのページ</h3>
    <div class="col-lg-2 mypage-link">
      <% if @user.id == current_user.id %>
        <%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-info col-xs-offset-11 mypage-btn" %>
        <%= link_to "退会ページ", withdraw_user_path(@user), class:"btn btn-warning col-xs-offset-11 mypage-btn",style:"margin-top:15px;" %>
      <% end %>
    </div>

  <div class="mypage-container col-lg-8">
    <div class="col-lg-3">
      <%= attachment_image_tag @user, :profile_image_id, size: '200x200', fallback: "/assets/no-image-human.jpeg", class:"mypage-img" %>
    </div>

    <div class="col-lg-5">
      <h4>自己紹介文</h4>
      <%= @user.introduction %>
      <div class="mypage-line"></div>
      <h4>好きな和菓子</h4>
      <%= @user.favorite_sweets %>
    </div>

    <div>
      <%= render "follow_form" %>
    </div>

  </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="tab_container">
      <input id="tab1" type="radio" name="tab_item" checked>
      <label class="tab_item" for="tab1">投稿<%= @post_images.count %>件</label>
      <input id="tab2" type="radio" name="tab_item">
      <label class="tab_item" id="follow_box" for="tab2">フォロー<%= @user.following.count %>人</label>
      <input id="tab3" type="radio" name="tab_item">
      <label class="tab_item" id="follower_box" for="tab3">フォロワー<%= @user.followers.count %>人</label>
      <div class="tab_content" id="tab1_content">
        <div class="tab_content_description">
          <div class="c-txtsp">
            <% @post_images.each do |post_image| %>
              <div class="card col-lg-3", style="margin:15px;">
                <div class="text-center card-img">
                  <%= attachment_image_tag post_image, :image, format: "jpeg",fallback: "no-image.png", size: '150x150' %><br>
                </div>
                <div class="text-center">
                  <%= post_image.introduction.truncate(10) %><br>
                </div>
                <div class="col-xs-offset-9">
                  <%= link_to "詳細", post_image_path(post_image.id) %><br>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab_content" id="tab2_content">
        <div class="tab_content_description">
          <div>
            <% @user.following.each do |user| %>
              <table>
                <tr>
                  <td class="icon"><%= attachment_image_tag user, :profile_image_id, size: '50x50', fallback: "no-image-human.jpg", class:"icon-img" %></td>
                  <td><%= user.name %></td>
                  <td><%= link_to '詳細', user_path(user) %></td>
                </tr>
              </table>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab_content" id="tab3_content">
        <div class="tab_content_description">
          <div>
            <% @user.followers.each do |user| %>
              <table>
                <tr>
                  <td class="icon"><%= attachment_image_tag user, :profile_image_id, size: '50x50', fallback: "no-image-human.jpg", class:"icon-img" %></td>
                  <td><%= user.name %></td>
                  <td><%= link_to '詳細', user_path(user) %></td>
                </tr>              
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>