<h1>投稿一覧</h1>
<div class="container">
    <div class="row">
        <div class = "col-xs-10 col-xs-offset-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>投稿ID</th>
                        <th>投稿画像</th>
                        <th>ニックネーム</th>
                        <th>投稿内容</th>
                    </tr>
                </thead>
                <tbody>
                    <% @post_images.each do |post| %>
                        <tr>
                            <td><%= post.id %></td>
                            <td><%= attachment_image_tag post, :image, size:"100x100",class: "coffee_image_media" %></td>
                            <td><%= link_to post.user.name,admins_post_image_path(post.id) %></td>
                            <td><%= post.introduction %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= paginate @post_images %>
        </div>
    </div>
</div>
