<div class="container">
  <div class="post-show col-lg-10">
    <h3>投稿詳細</h3>
      <div class="row">
        <div class="card-show">    
          <%= attachment_image_tag @post_image, :image, size:"300x300",class: "coffee_image_media card-img-show" %>

          <div class="card-show-text">
            <div class="card-name">
              <%= attachment_image_tag @post_image.user, :profile_image, fallback: "/assets/no-image-human.jpeg", size:"25x25" ,class:"icon-img" %>
              <%= @post_image.user.name %>
            </div>

            <div style="margin-bottom:30px;">
              <%= @post_image.introduction %>
            </div>

            <div style="margin-bottom:30px;">
              <%= @post_image.hashbody %>
            </div>

            <div id="show_favorite_<%= @post_image.id %>">
              <%= render 'favorites/favorite', post_image: @post_image %>
            </div>
                
          </div>
        </div>
      </div>
      
      <div class="row comment">
        <ul>
          <li class="comment-create">
            <h4 class="text-left title">コメント</h4>
          </li>
          <li id="comments_area">
            <%= render partial: 'post_comments/index', locals: { comments: @comments } %>
          </li>
        </ul>
      <hr>
        <% if user_signed_in? %>
          <div class="comment-create">
            <h4 class="text-left">コメントを投稿する</h4>
              <%= render partial: 'post_comments/form', locals: { comment: @post_comment, post_image: @post_image } %>
          </div>
        <% end %>
    </div>
  </div>
</div>