<h3><%= @user.name %>さんの詳細</h3>
<div class="container">
    <div class="row">
        <div class ="col-xs-5 col-xs-offset-1">
          <table class="table">
            <tr>
              <td>ユーザID</td>
              <td><%= @user.id %>
                <% if @user.is_deleted == true %>
                  <span>退会済み</span>
                <% else %>
                  <span>有効会員</span>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>プロフィール画像</td>
              <td><%= attachment_image_tag @user, :profile_image, fallback: "no-image-human.jpeg", size:"25x25" ,class:"icon-img" %></td>
            </tr>
            <tr>
              <td>ニックネーム</td>
              <td><%= @user.name %></td>
            </tr>
              <td>自己紹介</td>
              <td><%= @user.introduction %></td>
            </tr>
            <tr>
              <td>好きな和菓子</td>
              <td><%= @user.favorite_sweets %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td><%= link_to "編集する", edit_admins_user_path(@user)  %></td>
            </tr>
          </table>
        </div>
    </div>
</div>