<div class="container text-center"> 
  <h2>会員の方</h2></br>
    <div class='row'>
      <div class="col-lg-10">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-group row">
            <div class='col-lg-6'>
              <h4><%= f.label :メールアドレス %></h4>
            </div>
            <div class='col-lg-6'>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group row">
            <div class='col-lg-6'>
              <h4><%= f.label :パスワード %></h4>
            </div>
            <div class='col-lg-6'>
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>
          </div>

        <div class="col-lg-12 text-right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "＝＞パスワードを忘れた方はこちら", new_password_path(resource_name) ,:style=>"font-size:15px;"%>
          <% end %>
        </div>

        <div class="col-lg-5 offset-lg-3 w-50 mt-2">
          <%= f.submit "ログイン" , class:'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
        <% end %>
</div>

<div class="container text-center">
  <div class="row">
    <h3>会員登録がお済みでない方は<%= link_to "こちら", new_registration_path(resource_name) %></h3>
  </div>
</div>
