<div class="container">
  <div class="row">
    <div class="edit-post col-lg-10">
      <h3>投稿を編集する</h3>

      <div class="user-profile">
        <%= form_with model: @post_image, data:{remote: false} do |f| %>
          <h4 class="col-xs-offset-5">画像</h4>
          <div class="col-xs-offset-5">
            <%= attachment_image_tag @post_image, :image, size:"200x200",class: "coffee_image_media card-img-show" %>
            <%= f.attachment_field :image %>
          </div>
      
          <h4>投稿内容</h4>
          <%= f.text_area :introduction, class:"form-control" %>

          <h4>ハッシュタグ入力欄</h4>
          <%= f.text_area :hashbody, class:"form-control" %>

          <div class="edit-post-btn">
            <%= f.submit "変更を保存する", class:"btn btn-info col-lg-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>