<div class="container">
  <div class="row">
    <% if params[:name] == nil %>
    <% else %>
      <div class="hashtag-post-box">
        <h3 class="search-title">#<%= @hashtag.hashname %>:  <%= @postimage.count %> 件 </h3>
          <div class="flex-box">
            <% @postimage.each do |postimage| %>
              <div class="card text-center col-lg-4", style="margin:20px 30px;">
                <p class="index-post-box-top">
                  <%= postimage.created_at.strftime("%Y/%m/%d") %>
                </p>
                <span id = "favorite-button_<%= postimage.id %>"class="post-box-top-favorite">
                  <%= render 'favorites/favorite',post_image: postimage %>
                </span>
                <%= link_to post_image_path(postimage),data: {"turbolinks" => false}  do %>
                  <ul class="slider ">
                    <%= attachment_image_tag postimage, :image ,size:'160x160', format:'jpg',class:"image",style:"margin:10px auto  10px 5px;" %>                           
                  </ul>
                <% end %>
                <p class="hashtag-post-box-name">
                  <%= link_to user_path(postimage.user) do %>
                    <%= attachment_image_tag postimage.user, :profile_image,size:'30x30', format:'jpg',fallback:'no-image-human.jpeg',class:'min-image' %>
                    <span class="index-post-box-user"><%= postimage.user.name %></span>
                  <% end %>
                </p>
                <div class="image-show-body-hash" style="padding:2%">
                <%= simple_format(postimage.introduction.truncate(50))%>
                <% if postimage.introduction.length > 50 %>
                  <span class="text-prev"><%= link_to '続きを読む', post_image_path(postimage), data: {"turbolinks" => false} %></span>
                <% end %>
                </div>
              </div>   
            <% end %>             
          </div>    
      </div>
      <div class="image-index-pagination" data-turbolinks="false">
        <%= paginate @postimage,class:"paginate" %>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class= "col-xs-12 col-lg-12 col-md-12 col-sm-12">
      <div class= "hashtag-name">
        <% @hashtags.sort.reverse.each do |count| %>
          <% count[1].each do |hashtag| %>
            <p><%= link_to  "##{hashtag.hashname} (#{hashtag.post_images.count}) 件","/post_image/hashtag/#{hashtag.hashname}",data: {"turbolinks" => false} %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>