<div class="container">
  <div class="row post-index">
    <h3>みんなの投稿</h3>

      <% @post_images.each do |post_image| %>
        <div class="new-form new-form-post">
          <div class="col-lg-3">
            <div class="card card-index">
              <% if post_image.score.to_f >= 0 %>
                <i class="ribbon1 fa fa-smile-o"></i>
              <% end %>

              <%= link_to user_path(post_image.user_id), data: {"turbolinks" => false} do %>
                <div class="text-center", style="padding-top:15px;">
                  <%= attachment_image_tag post_image.user, :profile_image, fallback: "/assets/no-image-human.jpeg", class:"icon-img", size:"20x20" %>
                  <%= post_image.user.name %>
                </div>
              <% end %>

              <div class="text-center col-lg-offset-1", style="padding:5px;">
                <div class="col-lg-4">
                  <div id="index_favorite_<%= post_image.id %>">
                    <%= render 'favorites/favorite', post_image: post_image %>
                  </div>
                </div>
                <div class="col-lg-4">
                  <span class="fa fa-comment", style="color: #696969;">
                    <%= post_image.post_comments.count %>
                  </span>
                </div>
              </div>
    
              <%= link_to post_image_path(post_image) do %>
                <div class="text-center card-img">
                  <%= attachment_image_tag post_image, :image, size:"160x160",class: "coffee_image_media" %><br>
                </div>
              <% end %>

              <div class="text-center", style="padding:10px;">
                <%= post_image.introduction.truncate(10) %>
              </div>              
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <%= paginate @post_total %>
</div>
    