<div class="container">
  <div class="row">
    <h2>みんなの投稿</h2>

    <% @post_images.each do |post_image| %>
      <div class="col-lg-3">
        <div class="card">
          <%= link_to post_image_path(post_image) do %>
            <div class="text-center card-img">
              <%= attachment_image_tag post_image, :image, size:"160x160",class: "coffee_image_media" %><br>
            </div>
          <% end %>

          <%= link_to user_path(post_image.user_id) do %>
            <div class="text-center">
              <%= attachment_image_tag post_image.user, :profile_image, fallback: "/assets/人物アイコン", class:"profile-img-circle", size:"30x30" %>
              <%= post_image.user.name %>
            </div>
          <% end %>
          <div id="index_favorite_<%= post_image.id %>">
            <%= render 'favorites/favorite', post_image: post_image %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <%= paginate @post_total %>
</div>
    