  <% if @post_image.errors.any? %>
    <div id="error_explanation">
      <h3><%= @post_image.errors.count %>件の入力エラーにより、投稿出来ませんでした</h3>
        <ul>
          <% @post_image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <%= form_with model: @post_image, url: post_images_path,data:{remote: false} do |f| %>
      <div class="new-post">
        <h1>新規投稿</h1>
          <div class="new-form">
            <h4 class="new-form-text">画像</h4>
            <%= f.attachment_field :image %>
            
            <h4 class="new-form-text">投稿内容</h4>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.text_area :introduction, class:"form-control" %>

            <h4 class="new-form-text">ハッシュタグ入力欄</h4>
            <%= f.text_area :hashbody, class:"form-control" %>

            <div class="new-form-btn">
              <%= f.submit "投稿する", class:"btn btn-danger disabled btn-lg" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>