<!DOCTYPE html>
<html>
  <head>
    <title>SAKURA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <p class="logo">
          <%= link_to "SAKURA",root_path, class:"nav-icon" %>
        <p>
        <nav class="pc-nav">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to"投稿する", new_post_image_path, class:"nav-icon" %></li>
              <li><%= link_to "マイページ", user_path(current_user), class: 'nav-icon' %></li>
              <li><%= link_to"みんなの投稿", post_images_path, class:"nav-icon" %></li>
              <li><%= link_to"ログアウト", destroy_user_session_path, method: :delete, class:"nav-icon" %></li>
              <li class="nav-sarch"><%= render 'users/search_form', user_or_post: @user_or_post, users: @users, posts: @posts %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to"ユーザ一覧", admins_users_path, class:"nav-icon" %></li>
              <li><%= link_to"投稿一覧", admins_post_images_path, class:"nav-icon" %></li>
              <li><%= link_to"ログアウト", destroy_admin_session_path, class:"nav-icon" %></li>
            <% else %>
              <li><%= link_to"サイトのご案内", user_about_path, class:"nav-icon" %></li>
              <li><%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post, class:"nav-icon" %></li>
              <li><%= link_to"新規登録", new_user_registration_path, class:"nav-icon" %></li>
              <li><%= link_to"ログイン", user_session_path, class:"nav-icon" %></li>
            <% end %>
          </ul>
        </nav>
      </header>

      <div class="main">
        <%= yield %>
      </div>

    <footer>
      <div class="f-text">Copyright(c)SAKURA</div>
    </footer>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </div>
  </body>
</html>
