<!DOCTYPE html>
<html>
  <head>
    <title>SAKURA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>

  <body>
  <div>
    <nav>
      <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-icon"><%= link_to"topページ", user_top_path %></li>
            <li class="dropdown active nav-icon dropdown-toggle data-toggle="dropdown"">
              <%= link_to "マイページ", user_path(current_user) %>
              <ul class="dropdown-menu" role="menu">
                <li><a href="">リンクリストＡ１</a></li>
                <li><a href="">リンクリストＡ２</a></li>
                <li><a href="">リンクリストＡ３</a></li>
              </ul>

            </li>
            <li class="nav-icon"><%= link_to"ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="nav-icon"><%= link_to"ABOUT", user_about_path %></li>
            <li class="nav-icon"><%= link_to"新規登録", new_user_registration_path %></li>
            <li class="nav-icon"><%= link_to"ログイン", user_session_path %></li>
          <% end %>
          <li class="nav-icon"><%= render 'users/search_form', user_or_post: @user_or_post, users: @users, posts: @posts %></li>
      </ul>
    </nav>
  </div>

    <%= yield %>
  <footer>
    <p>(c)SAKURA</p>
  </footer>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>
